<div *ngIf="post$ | async as post; else loading">
  <div class="post">
    <div class="header">
      <h2 class="break-word">
        <small>Название:</small><br />
        {{ post.title }}
      </h2>
    </div>

    <div class="date">
      <span
        >Дата загрузки:<br />
        {{ post.date | date : "medium" : "" : "ru" }}</span
      >
    </div>

    <div class="info">
      Автор:<br />
      <strong class="break-word"> {{ post.author }}</strong>
    </div>

    <div>
      <p class="break-word">
        Текст поста:<br />
        {{ post.text }}
      </p>
    </div>
  </div>
</div>

<button routerLink="/" class="btn btn-primary">On home page</button>

<ng-template #loading>
  <p class="text-center">Загружаю...</p>
</ng-template>
