<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">On home page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>14.09.2019</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae doloremque
      quas quibusdam voluptatum esse facere odio deleniti, aliquid amet
      voluptatibus maxime, consequuntur magnam suscipit placeat! Ad, atque rem
      nobis eos voluptates facere incidunt placeat beatae obcaecati!
      Perspiciatis, facilis exercitationem. Numquam odio id consequuntur sequi
      quidem porro explicabo dicta libero sapiente!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae doloremque
      quas quibusdam voluptatum esse facere odio deleniti, aliquid amet
      voluptatibus maxime, consequuntur magnam suscipit placeat! Ad, atque rem
      nobis eos voluptates facere incidunt placeat beatae obcaecati!
      Perspiciatis, facilis exercitationem. Numquam odio id consequuntur sequi
      quidem porro explicabo dicta libero sapiente!
    </p>
  </div>
</div>
